<p style="color: green"><%= notice %></p>

<img class="img-responsive center-block d-block mx-auto" alt="Sample Image" style="width:200px" src="https://www.pngitem.com/pimgs/m/627-6275754_chad-profile-pic-profile-photo-circle-png-transparent.png">

<h3 class="text-center"><%= @user.username %></h3>
