<div class="modal fade" id="category-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Velg kategorier du vil se</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body ">
          <%= form_with url: "/search", method: :get do |form| %>
            <div class ="field" id="checkboxes">
              <%= form.collection_check_boxes(:category_ids, Category.all, :id, :name) do |b|
                b.label class:"form-check" do
                  b.check_box(class:"form-check-input") + b.text
                end
              end %>
            </div>

            <div class="modal-footer">
              <%= form.submit "Søk", class: 'btn btn-primary btn-block' %>
            </div>

        <% end %>
      </div>
    </div>
  </div>
</div>