<hr class="d-lg-none">
<div class="container-fluid mb-2" id="suggestions">
  <br>
  <h5>Neste</h5>
  <div class="row gy-2">
    <% @suggestions.each do |suggestion| %>
      <div class="col-12">
        <%= render "stories/partials/story_card", story: suggestion %>
      </div>
    <% end %>
  </div>
</div>