<!-- brukeren sine spillelister -->
<div class="container">

  <h2 class="py-2"><%= t('.playlists') %> </h2>

  <% if @user == current_user %>
    <div id="new_playlist_div">
      <%= render "playlists/partials/new_playlist_btn" %>
    </div>
  <% end %>

  <div id="playlists" class="my-2">
    <hr>
    <% playlists = @playlists %>
    <% playlists.each do |playlist| %>
      <%= render "playlists/partials/test_playlist", playlist: playlist %>
      <hr>
    <% end %>
  </div>
</div>