<!-- alle bruker sine opplastninger -->
<div class="container">

  <div class="row py-2">

    <div class="col">
      <h2>Stories</h2>
    </div>

    <div class="col text-end">
      <% if @playlist.playlist_stories.count > 0 %>
        <%= link_to "Spill av alle", playlist_play_story_path(@playlist, @playlist.playlist_stories.last), class:"btn btn-primary" %>
      <% else %>
        <h5>Ingen stories lagt ut enda</h5>
        <% if @user == current_user %>
          <%= link_to "Utforsk stories", root_path, class:"btn btn-secondary my-3" %>
        <% end %>
      <% end %>
    </div>

  </div>

  <div class="row">
    <% @playlist.playlist_stories.reverse_each do |playlist_story| %>
      <div id="<%= dom_id playlist_story.story %>" class="col-xl-3 col-lg-4 col-md-6 mb-2">
        <%= render "playlists/partials/story_card", playlist_story: playlist_story %>
      </div>

    <% end %>
  </div>

</div>