
<div class="modal fade" id="reportStory-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Rapporter</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body ">

        <% if user_signed_in? %>
          <%= render "reports/formStory" %>
        <% else %>
          Du må logge inn for å kunne rapportere
          <%= link_to "Trykk her for å logge inn", new_user_session_path, class:"btn btn-info"%>
        <% end %>
      </div>
    </div>
  </div>
</div>