<%= content_for :right do %>
  <div class="container-fluid mb-2">
    <br>
    <h3>Neste i spilleliste <%= @playlist.title %></h3>
    <div class="row">
      <h4>nice spilleliste wow</h4>
    </div>
  </div>
<% end %>