<div class="container-fluid mb-2">
  <br>
  <h4>Neste i spilleliste</h4>
  <div class="list-group">
    <% @playlist.playlist_stories.reverse_each do |ps| %>
      <% story = ps.story %>
      <% if story == @story %>
        <div class="list-group-item list-group-item-action active">
          <h6><%= story.title %></h6>
        </div>
      <% else %>
        <div class="list-group-item list-group-item-action">
          <h6><%= story.title %></h6>
        </div>
      <% end %>

    <% end %>
  </div>
</div>