<div class="card mt-2">
  <li class="dropdown position-absolute top-0 end-0 mt-1" style="list-style-type: none;">
    <a href="#" class="nav-link" data-bs-toggle="dropdown" role="button" aria-expanded="false">
      <span class="material-icons" style="color:black;">more_vert</span>
    </a>
    <ul class="dropdown-menu dropdown-menu-end me-1">

    </ul>
  </li>
  <div class="card-body">
    <h3 class="card-title"><%= playlist.title %></h3>
    <p><%= playlist.playlist_stories.count %> stories</p>
  </div>
</div>