<!-- Favorite buttons -->
<div class="counter">
  <% favourite = current_user.favourites.find_by(story_id: story) %>
  <% if favourite.nil? %>
    <%= button_to favourites_path(story_id: story), class: "action_button" do %>
      <span class="material-icons">favorite_border</span>
    <% end %>
  <% else %>
    <%= button_to favourite, method: :delete, class: "action_button" do %>
      <span class="material-icons" style="color: red">favorite</span>
    <% end %>
  <% end %>
  <p><%= story.favourites.count %></p>
</div>
