<div class ="container">

  <br>
  <div class="row">

    <h2>Favourites</h2>
    <br>
    <p> <strong><%= current_user.username %><br>
    <%= @favourites.size %> Videos</strong></p>

    <div id="favourites">
      <% @favourites.each do |favourite| %>
        <%= render favourite %>
      <% end %>
    </div>

  </div>
</div>