<div class ="container">

  <br>
  <div class="row">

    <h2>Favourites</h2>

    <strong><%= current_user.username %></strong>

    <div id="favourites_counter" class="mb-3">
      <%= render 'favourites_counter' %>
    </div>

    <div id="favourites">
      <% @favourites.each do |favourite| %>
        <%= render favourite %>
      <% end %>
    </div>

  </div>
</div>