<div class="swiper-slide">
  <div class="card text-center" style="width: 18rem;">
    <img src="https://picsum.photos/200" class="card-img-top" alt="Story image">
    <div class="card-body">
      <h5 class="card-title"><%= story.title %></h5>
      <p class="card-text">
        <%= story.description %>
      </p>
      <a href="#" class="btn btn-primary">idk, skal gjøre noe etterhvert kanskje</a>
    </div>
  </div>
</div>