<div id="stories" class="feed_stories_container">

  <div class="container">
    <div class="row">

      <div class="col-0 col-md-2 p-0 m-0">
      </div>

      <div class="col">
        <h2>Endre på story</h2>

        <%= render "form", story: @story %>

        <div class="mb-4">
          <%= button_to t('.delete_story'), @story, method: :delete, form: {data: {turbo_confirm: 'Are you sure?'}},
                        class: "btn btn-secondary btn-block" %>
        </div>

        <div>
          <%= link_to t('.show_story'), @story %> |
          <%= link_to t('.back_to_stories'), stories_path %>
        </div>
      </div>

      <div class="col-0 col-md-2 p-0 m-0">
      </div>

    </div>
  </div>

</div>

<script>
  var fileinput = document.getElementById("file_input");
  fileinput.style = "display: none";
</script>