<!-- Stories -->
<div id="stories" class="feed_stories_container">
  <div class="container">
    <div class="row">

      <h1>Editing story</h1>

      <%= render "form", story: @story %>
      <br>

      <%= button_to "Delete story", @story, method: :delete %>
      <br>

      <div>
        <%= link_to "Show this story", @story %> |
        <%= link_to "Back to stories", stories_path %>
      </div>


    </div>
  </div>
</div>





