<div id="stories" class="feed_stories_container mt-1">
  <div class="container-fluid">
    <div class="row g-4">

      <% @stories.each do |story| %>
        <%= render "stories/partials/story_card", story: story %>
      <% end %>

    </div>
  </div>
</div>
