<div id="stories">
  <div class="container-fluid">
    <div class="row">

      <% @stories.each do |story| %>
        <%= render "stories/story_card", story: story %>
      <% end %>

    </div>
  </div>
</div>
