<%= render "stories/partials/category_filter"%>

<div id="stories" class="feed_stories_container">
  <div class="container-fluid">
    <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#category-modal" aria-expanded="false">Søk i stories</button>

    <div class="row">

      <% @stories.each do |story| %>
        <%= render "stories/partials/story_card", story: story %>
      <% end %>

    </div>
  </div>
</div>
