<div id="stories">

  <div class="container-fluid">

    <div class="row">

    <% @stories.each do |story| %>
      <%= link_to play_path story do %>

          <%= render "stories/partials/story_card", story: story %>

        <% end %>
      <% end %>

    </div>
  </div>
</div>
