<div id="stories">

  <div class="container-fluid">

    <div class="row">

      <h2> <%= t('.title') %></h2>
      <br>

      <% @stories.each do |story| %>
        <%= render 'stories/story_card', story: story %>
      <% end %>

    </div>
  </div>
</div>













