<div class="container">
  <div class="row">

    <h2>Ny story</h2>
    <%= render "form", story: @story %>

    <div>
      <%= link_to "Tilbake til stories", stories_path %>
    </div>

  </div>
</div>