<div class="container small-container">

      <h2><%= t('.title') %></h2>

      <%= render "form", story: @story %>

      <div>
        <%= link_to t('.back_to_stories'), root_path %>

  </div>
</div>