<link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css" />

<div class="swiper">
  <div class="swiper-wrapper">

    <% @stories.each do |story| %>

    <%= render 'stories/story_play', story: story %>

    <% end %>

  </div>
</div>