#checkboxes input {
    margin-right: 2px;
}

#checkboxes label {
    margin-right: 10px;
}

#story-form span:hover {
    border: none;
    opacity: 0.6;
    transition: 0.3s;
    cursor: pointer;
}

.story-img{
    max-height: 60vw;
    object-fit: contain;
}



@media screen and (min-width: 576px) {

    .story-img{
        max-height: 50vw;
    }



}

@media screen and (min-width: 768px) {

    .story-img{
        max-height: 30vw;
    }

}

@media screen and (min-width: 990px) {

    .story-img{
        max-height: 15vw;
    }

    #suggestions > div > div > a > div > div img {
        max-width: 15vw;
    }

}