<p>Hei <%= @email %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>Vi kontakter deg for å varsle deg om at emailen din blir forandret til <%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p>Vi kontakter deg for å varsle deg om at emailen din har blitt forandret til <%= @resource.email %>.</p>
<% end %>
