<p>Hei <%= @resource.email %>!</p>

<p>Noen har bedt om en link for å endre passordet ditt. Du kan gjøre dette med linken under.</p>

<p><%= link_to 'Endre passordet mitt', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Hvis du ikke etterspurte dette, ignorer denne emailen.</p>
<p>Passordet ditt vil ikke endres fram til du eventuelt bruker linken over og lager et nytt et.</p>
