<p>Hei <%= @resource.email %>!</p>

<p>Kontoen din har blitt låst på grunn av for mange mislykkede forsøk på å logge inn.</p>

<p>Trykk på linken under får å låse opp kontoen din:</p>

<p><%= link_to 'Lås opp kontoen min', unlock_url(@resource, unlock_token: @token) %></p>
