<div class="container-fluid">

  <div class="row py-2">
    <div class="col">
      <h2><%= @playlist.title %></h2>
    </div>
    <div class="col text-end">
      <% if @playlist.playlist_stories.count > 0 %>
        <%= link_to "Spill av spilleliste", playlist_play_story_path(@playlist, @playlist.playlist_stories.last), class:"btn btn-primary" %>
      <% else %>
        <h5>Denne spillelisten er tom</h5>
        <%= link_to "Utforsk stories", root_path, class:"btn btn-secondary my-3" %>
      <% end %>
    </div>
  </div>

  <div class="row">
    <% @playlist.playlist_stories.reverse_each do |playlist_story| %>
      <%= render "playlists/partials/story_card", playlist_story: playlist_story %>
    <% end %>
  </div>

</div>