<h2><%= @playlist.title %></h2>

<ul>
  <% @playlist.playlist_stories.each do |playlist_story| %>
    <% story = playlist_story.story %>
    <li>
      <%= story.title %>
    </li>
  <% end %>
</ul>

<button class="btn btn-primary" onclick="alert('Denne funksjonaliteten er under utvikling')">Spill av stories</button>
