<div id="<%= dom_id report %>">
  <p>
    <strong>Description:</strong>
    <%= report.description %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= report.status %>
  </p>

  <p>
    <strong>Reportable:</strong>
    <%= report.reportable_id %>
  </p>

</div>
