<!-- Welcome alert -->
<div id="welcome" style="display: none" class="alert alert-primary welcome_msg" >

        <h1>Velkommen</h1>

        <button type="button" onclick="setCookie('sin_user_message',true,365)" class="close position-absolute top-0 end-0 p-3" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>

    <p class="mx-3">
      <%= t('.welcome_alert_text') %>
    </p>

</div>

<script>
    //eraseCookie('returning_user')
    // vis melding
    var sin_user_message=getCookie("sin_user_message");//"bobthegreat@gmail.com
    if (sin_user_message == null) {
        document.getElementById("welcome").style.display = "block";
    }
    // sett coockie


    function setCookie(name,value,days) {
        var expires = "";
        if (days) {
            var date = new Date();
            date.setTime(date.getTime() + (days*24*60*60*1000));
            expires = "; expires=" + date.toUTCString();
        }
        document.cookie = name + "=" + (value || "")  + expires + "; path=/";
    }

    function getCookie(name) {
        var nameEQ = name + "=";
        var ca = document.cookie.split(';');
        for(var i=0;i < ca.length;i++) {
            var c = ca[i];
            while (c.charAt(0)==' ') c = c.substring(1,c.length);
            if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length,c.length);
        }
        return null;
    }

    function eraseCookie(name) {
        document.cookie = name + '=; Max-Age=0'
    }
</script>