<!-- Welcome alert -->
<div class="alert alert-primary welcome_msg" >

        <h1>Welcome</h1>

        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>

    <p>
      Rorbua is an app where users can share and listen to funny stories.
      Be nice and have fun :)
    </p>

</div>





