<!-- Welcome alert -->
<div class="alert alert-primary welcome_msg" >

        <h1>Velkommen</h1>

        <button type="button" class="close position-absolute top-0 end-0 p-3" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>

    <p class="mx-3">
      Rorbua er en app hvor brukere kan dele og høre på morsomme historier.
      Vær hyggelig og ha det gøy!
    </p>

</div>





